/app/bootstrap.php.cache
/app/config/parameters.yml
/app/check.php
/app/SymfonyRequirements.php
/bin/doctrine*
/bin/phpspec*
/var/
/vendor/
/web/bundles/
/web/upload/
composer.phar
*.quarantine
*.tmb
*.php~
!*.gitkeep
!*.gitignore
